@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;

    --card: #ffffff;
    --card-foreground: #09090b;
 
    --popover: #ffffff;
    --popover-foreground: #09090b;
 
    --primary: #18181b;
    --primary-foreground: #fafafa;
 
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
 
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
 
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
 
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
 
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #18181b;
 
    --radius: 0.5rem;

    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999999;
    --accents-4: #888888;
    --accents-5: #666666;
    --accents-6: #444444;
    --accents-7: #333333;
    --accents-8: #111111;

    --success-lighter: #d3e5ff;
    --success-light: #3291ff;
    --success: #0070f3;
    --success-dark: #0761d1;

    --error-lighter: #f7d4d6;
    --error-light: #ff1a1a;
    --error: #e00000;
    --error-dark: #c50000;

    --warning-lighter: #ffefcf;
    --warning-light: #f7b955;
    --warning: #f5a623;
    --warning-dark: #ab570a;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
  }
}
